{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    {% set status =['null','open','in progress','awaiting response', 'closed', 'will not fix'] %}
    <h1>Ticket</h1>
    <div>

    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ticket.id }}</td>
            <th>Status</th>
            <td>{{ status[ticket.status] }}</td>

            <th>Opened</th>
            <td>{{ ticket.opened ? ticket.opened|date('Y-m-d H:i:s') : '' }}</td>
            <th>{{ ticket.closed ? Closed : '' }}</th>
            <td>{{ ticket.closed ? ticket.closed|date('Y-m-d H:i:s') : '' }}</td>
            {% if is_granted('ROLE_AGENT') %}
                <th>Priority</th>
                <td>{{ ticket.priority }}</td>
                <th>Level</th>
                <td>{{ ticket.level }}</td>
            {% endif %}
        </tr>
        <tr>
            <th>Subject</th>
            <td>{{ ticket.subject }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ ticket.description }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <h2>Content</h2>
        <div>{{ ticket.ticketOwner }}:</div>
        <div>{{ ticket.description }}</div>

        {% for comment in ticket.comments %}
            {% if not comment.private and is_granted('ROLE_USER') %}
                <div>{{ comment.userId }}:</div>
                <div>{{ comment.content }}</div>
            {% elseif is_granted('ROLE_AGENT') %}
                <div>{{ comment.userId }}:</div>
                <div>{{ comment.content }}</div>
            {% endif %}
        {% endfor %}
    </div>

    {% if ticket.status in [2,3] and ticket.assignedAgent == app.user %}
        {{ form_start(form) }}

        {{ form_row(form.content) }}
        {{ form_row(form.private) }}

        <button class="btn">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

        <a href="{{ path('agent_ticket_index') }}">back to list</a>
    {% endif %}

    {% if ticket.status == 3 and ticket.ticketOwner == app.user %}
        {{ form_start(form) }}

        {{ form_row(form.content) }}
        {{ form_row(form.private, { 'attr': {'disabled': 'true'} }) }}

        <button class="btn">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

        <a href="{{ path('customer_index') }}">back to list</a>
    {% endif %}

{% endblock %}
