{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    {% set status ={ 1:'open', 2:'in progress',3:'awaiting response', 4:'closed', 5:'ticket denied'} %}
    <h1>Ticket</h1>
    <div>

    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ticket.id }}</td>
            <th>Status</th>
            <td>{{ status[ticket.status] }}</td>

            <th>Opened</th>
            <td>{{ ticket.opened ? ticket.opened|date('Y-m-d H:i:s') : '' }}</td>
            <th>{{ ticket.closed ? 'Closed' : '' }}</th>
            <td>{{ ticket.closed ? ticket.closed|date('Y-m-d H:i:s') : '' }}</td>

        </tr>
        <tr>
            <th>Subject</th>
            <td>{{ ticket.subject }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ ticket.description }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <h2>Content</h2>
        <div>{{ ticket.ticketOwner }}:</div>
        <div>{{ ticket.description }}</div>

        {% for comment in ticket.comments %}
                <div>{{ comment.userId }}:</div>
                <div>{{ comment.content }}</div>
        {% endfor %}
    </div>

    {% if ticket.status == 3 and ticket.ticketOwner == app.user %}
        {{ form_start(form) }}

        {{ form_row(form.content) }}
        {{ form_row(form.private, { 'attr': {'disabled': 'true'} }) }}

        <button class="btn">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

    {% endif %}
    {% if ticket.closed %}
        <a class="btn btn-danger" href="{{ path('ticket_reopen', {'id': ticket.id}) }}">Reopen</a>
    {% endif %}
    <a href="{{ path('customer_index') }}">back to list</a>
{% endblock %}
