{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Opened</th>
                <th>Closed</th>
                <th>Priority</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.opened ? ticket.opened|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.closed ? ticket.closed|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.priority }}</td>
                <td>{{ ticket.level }}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ticket_new') }}">Create new</a>
{% endblock %}
